Factions Weapons/media/textures
Factions Weapons/media/models_X
Factions Weapons/media/AnimSets
Factions Weapons/media/anims_X
Factions Weapons/media/ui
Factions Weapons/media/sound
Factions Weapons/media/lua/client